#about {
    width: 100vw;
    height: 30vh;
    background-image: url(../images/about-background.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

 #about-summary {
    text-align: center;
    align-self: center;
     padding: 20px 200px;
     border-style: ridge;
     border-width: 1px;
     border-color:  rgba(253, 144, 162, 0.541);
     background-color: #fafafaa2;
     font-size: 25px;
     font-family: 'Barlow Condensed', sans-serif;
     color: rgb(253, 144, 162);
    }

@media screen and (max-width: 1000px) {
    #about-summary {
        margin: 10px;
        padding: 0;
        border: none;
        background-color: #fafafa00;
    }
}