html {
  scroll-behavior: smooth;
}

.main-img {
  height: 100vh !important;
  width: 100vw !important;
  background-position: center;
  background-image: url(../images/rebeacca.jpg);
  background-attachment: fixed;
  background-size: cover;
}

h2 {
  text-align: center;
  font-family: 'Rochester', cursive;
  padding: 25px;
  color: rgb(102, 101, 101);
}

h3 {
  font-family: 'Pompiere', cursive;
}

h4, p {
  font-family: 'Barlow Condensed', sans-serif;}

  h4 {
    text-align: center;
  }

/* Footer */
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(245, 243, 243);
  color: black;
  text-align: center;
  padding: 15px;
}

.social-img {
  padding: 5px;
}