html {
  scroll-behavior: smooth;
}

.main-img {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  background-position: center;
  background-image: url(../images/rebeacca.jpg);
  background-attachment: fixed;
  background-size: cover;
}

h2 {
  text-align: center;
  font-family: 'Rochester', cursive;
  padding: 25px;
  color: rgb(102, 101, 101);
}

h3 {
  font-family: 'Pompiere', cursive;
}

h4, p {
  font-family: 'Barlow Condensed', sans-serif;}

  h4 {
    text-align: center;
  }

h5 {
  font-family: 'Pompiere', cursive;
}

/* Footer */
footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fadfd044;
  color: black;
  text-align: center;
  padding: 15px;
}


.social-img {
  padding: 5px;
}
