* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#icon {
  display: none;
}

.logo {
  font-family: 'Sacramento', cursive;
  font-size: 25px;
  color: #311204;
  text-align: center;
  user-select: none;
}

.responsive-logo {
  display: none;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fadfd0;
  opacity: .7;
  transition: .5s;
  z-index: 1;
}
  
.nav-bar:hover {
  opacity: .9;
}
    
.nav-items {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 0 10px;
  align-items: center;
}
  
.nav-item {
  list-style: none;
}

.nav-link {
  color: #311204;
  text-decoration: none;
  padding: 5px 0;
  border-bottom: 1px solid #fadfd0;
  transition: all .5s ease-in;
  /* font-family: 'Lekton', sans-serif; */
   font-family: 'Pompiere', cursive;
}
  
.nav-link:hover {
  color: #6b2f15;
  border-bottom: 1px solid #68280c;
}
  
@media all and (max-width: 900px) {
  .responsive-logo {
    display: contents;
    font-family: 'Sacramento', cursive;
    font-size: 25px;
    text-align: center;
    color: #311204;
    user-select: none;
  }

  .logo {
    display: none;
  }

  #icon {
    display: contents;
    display: flex;
    justify-content: center;
  }

  .dropbtn {
    border: none;
    cursor: pointer;
  }

  .nav-bar {
    display: inline-block;
    z-index: 1;
  }

  .nav-bar:hover {
    opacity: 1;
  }

  .nav-items {
    display: none;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
      
  .nav-items a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
      
  .nav-items a:hover {
    background-color: #f1f1f1;
  }
      
  .nav-bar:hover .nav-items {
    display: block;
  }

}

:target {
  padding-top: 75px;
  margin-top: -75px;
  /* display: inline-block; */
}

